
footer {
    width: 100vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

.footer-text {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    padding-top: 2zvw;
}

.footer-text p {
    font-size: x-large;
    color: #fff;
}

.footer-table {
    width: 80%;
    height: 80%;
    font-size: 100%;
    color: #fff;
    font-weight: lighter;
}

.footer-table table {
    width: 100%;
}

.footer-table td {
    padding-top: 2vh;
    padding-right: 5vw;
}