#info section img{
    object-fit: contain;
    width: 2vw;
}

.minutes-color{
    background-color: #FF0C6C;
}
<<<<<<< HEAD
.home-main{
    width: 100vw;
   min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.home-navbar{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.home-navbar img{
    margin-left: 6vw;
    width: 25%;
    height: 40%;
    object-fit: contain;
}

.home-navbar-links{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}   

.home-navbar-profile{
    margin-left: auto;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}  

.home-main-info{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;  
    margin-top: 8%;
}

.home-main-info p{
    font-size: 1.3vw;
    color: #fff;
    margin-right: 20vw;
}

#date-genre{
    width: 100%;
    font-size: 2vw;
}
#date-genre p{
    display: inline;
    margin-right: 1vw;
}

#info{
    width: 100%;
    height: 40%;
}

#info h1{
    font-size: 4vw;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px #8888;
    margin-top: 2%;
}
#info p{
    font-size: 1.3vw;
    color: #fff;
    margin-right: 20vw;
}
#info section{
    display: flex;
    flex-direction: row;
}

#info section p:first-of-type{
    padding: 0.5vw;
    background-color: #FF0C6C;
    display: inline;
    border-radius: 5px;
    margin-right: 4vw;
}
#info section img{
    object-fit: contain;
    width: 2vw;
}
=======
>>>>>>> 294eaf0 (adding home, movies and promises to the API)
