
*{
    font-family: 'SF Pro Display', sans-serif;
}
main{
    background-image: url('./images/Bitmap.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 15%;
    align-items: center;
    display: flex;
  
}
.Main-header-logo{
 width: 50%;
 height: 100%;
 align-items: center;
 display: flex;
 
}
.Main-header-logo img{
    margin-left: 2vw;
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.Main-header-in{
 width: 50%;
 height: 100%;
 align-items: center;
 display: flex;
 justify-content: flex-end;
}
.Main-header-in a{
    color: #fff;
    text-decoration: none;
    padding-right: 10%;
    font-size:1vw;
}
.Main-header-in #Log-in{
    padding: 0.5vh 2vw;
    background-color: #0578FF;
    border-radius: 5px;
    margin-right: 1.5vw;
}
.Main-text{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

.Main-text h1{
    margin-top: 20vh;
    color: #fff;
    font-size: 5vw;
}
.Main-text p{
    color: #fff;
    font-size: 1.3vw;
    font-weight: 600;
}
#try-now{
    color: #fff;
    margin-top: 10vh;
    font-size: 1.2vw;
    padding: 1vh 3vw;
    background-color: #0578FF;
    border-radius: 5px;
    text-decoration: none;
}
.Main-interfaces{
    background-color: #000;
    width: 100vw;
    height: 30vh;
    display: flex;
}
.Home-prices{
    height: 100%;
    width: 33.3%;
    background-image: url('./images/Price-black.png');
    background-position-x: center;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-y:2vh ;
    background-color: #111111;
    border: hidden;
    cursor: pointer;
}

.Home-cancel{
    height: 100%;
    width: 33.3%;
    background-image: url('./images/Cancel-black.png');
    background-position-x: center;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-y:2vh ;
    background-color: #111111;
    border: hidden;
    cursor: pointer;
}

.Home-watch{
    height: 100%;
    width: 33.3%;
    background-image: url('./images/Watch-black.png');
    background-position-x: center;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-y:2vh ;
    background-color: #111111;
    border: hidden;
    cursor: pointer;
}
.Home-cancel h1{
    margin: 0;
    padding-top: 4em;
    color: #595959;
    font-weight: 300;
}
.Home-prices h1{
    margin: 0;
    padding-top: 4em;
    color: #595959;
    font-weight: 300;
}
.Home-watch h1{
    margin: 0;
    padding-top: 4em;
    color: #595959;
    font-weight: 300;
    
}
.white-to-gray{
    color:white;
}
.white-to-gray:hover{
    color: rgb(224, 224, 224);
}
.bgGray{
    background-color: #302E30;
}