@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'SF Pro Display', sans-serif;
}
main{
    background-image: url('./images/Bitmap.png');
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
}
.Main-header{
    width: 100%;
    height: 15%;
    align-items: center;
    display: flex;
  
}
.Main-header-logo{
 width: 50%;
 height: 100%;
 align-items: center;
 display: flex;
 
}
.Main-header-logo p{
    margin: 0;
    font-weight: bold;
    font-size: x-large;
    padding-left: 15%;
    color: #fff;
    font-family: 'Exo', sans-serif;;
}
 #Logo-oval{
    border-radius: 50px;
    border: 3px solid #06BCF1;
    padding: 0;
    position: relative;
    right: 1.5%;
    bottom:10%;
}
.Main-header-in{
 width: 50%;
 height: 100%;
 align-items: center;
 display: flex;
 justify-content: flex-end;
}
.Main-header-in a{
    color: #fff;
    text-decoration: none;
    padding-right: 10%;
    font-size:large;
}
.Main-header-in #Log-in{
    padding: 0.3em 2em;
    background-color: #0578FF;
    border-radius: 2px;
    margin-right: 1em;
}
.Main-text{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
.Main-text h1{
    padding-top: 2em;
    margin: 0;
    color: #fff;
    font-size: 5em;
}
.Main-text p{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.Main-text a{
    color: #fff;
    margin-top: 4em;
    font-size: large;
    padding: 3px 20px;
    background-color: #0578FF;
    border-radius: 2px;
}
.Main-interfaces{
    background-color: #000;
    width: 100vw;
    height: 30vh;
    display: flex;
    
}
.Home-prices{
    height: 100%;
    width: 33.3%;
    background-image: url('./images/price copia.png');
    background-position-x: center;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-y:1em ;
    background-color: #111111;
    border: hidden;
    cursor: pointer;
}

.Home-cancel{
    height: 100%;
    width: 33.3%;
    background-image: url('./images/NO copia.png');
    background-position-x: center;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-y:1em ;
    background-color: #111111;
    border: hidden;
    cursor: pointer;
}

.Home-watch{
    height: 100%;
    width: 33.3%;
    background-image: url('./images/dispositivos copia.png');
    background-position-x: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-y:1em ;
    background-color: #111111;
    border: hidden;
    cursor: pointer;
}
.Home-cancel h1{
    margin: 0;
    padding-top: 4em;
    color: #595959;
    font-weight: 300;
}
.Home-prices h1{
    margin: 0;
    padding-top: 4em;
    color: #595959;
    font-weight: 300;
}
.Home-watch h1{
    margin: 0;
    padding-top: 4em;
    color: #595959;
    font-weight: 300;
    
}